@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Gloock&family=Poppins:wght@300&display=swap");

$primary_color: #023452;
$arrow_bg_color: #b2e3ee;

body {
  margin: 0;
  padding: 0;
  color: $primary_color;
}

h2 {
  font-family: "Gloock", serif;
}

.link-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  &:hover .arrow {
    transform: translateX(-100px);
  }
}

.slider-heading {
  color: $primary_color;
  font-size: 40px;
  opacity: 1;
  line-height: 42px;
}

.swiper {
  position: relative;
  width: 1201px;
  //height: 100%;
  //background-color: beige;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  // background-color: bisque;
}

.swiper-container {
  //height: 100vh;
  display: flex;
  justify-content: center;

  //width: 100%;
  // background-color: aquamarine;
}

.swiper-button-prev,
.swiper-button-next {
  height: 47.33px !important;
  width: 47.33px !important;
  background-color: $arrow_bg_color;
  border-radius: 50%;
}

.swiper-button-prev {
  margin-left: 11rem;
}

.swiper-button-next {
  margin-right: 11rem;
}

.swiper-button-prev::after {
  align-items: center;
  justify-content: center;
  height: 19.56px !important;
  width: 9.78px !important;
  font-size: 20px !important;
}

.swiper-button-next::after {
  align-items: center;
  justify-content: center;
  height: 19.56px !important;
  width: 9.78px !important;
  font-size: 20px !important;
}

.swiper-slide {
  //height: 100% !important;
  //width: 387px !important;
  //background-color: aqua;
  img {
    width: 387px;
    //height: 306px;
    margin-bottom: 30px;
  }
}

.arrow {
  height: 117.83px !important;
  width: 33.21px !important;
}

a,
a:visited {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  color: $primary_color;
  text-decoration: none;
  outline: none;
  font-weight: 800;
}

.content {
  h4 {
    font-family: "Bodoni Moda", serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 0.66px;
    margin: 0;
  }

  h3 {
    font-family: "Bodoni Moda", serif;
    font-size: 26px;
    text-transform: capitalize;
    letter-spacing: 0.78px;
    margin: 0px !important;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    letter-spacing: 2.44px;
  }
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

a:not(.btn):not(.custom-link)::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 7.1584px;
  width: 10.91px;
  height: 10.91px;
  border: 1px solid #023452;
  transform: rotate(-45deg);
  border-top: 0;
  border-left: 0;
  transition: all 0.3s ease;
  display: inline-block;
}

a:not(.btn):not(.custom-link):after {
  content: "";
  position: absolute;
  right: 3.91px;
  top: 11.93px;
  width: 32.21px;
  height: 1px;
  background: #023452;
  transition: all 0.3s ease;
}

a:not(.btn):not(.custom-link) {
  text-decoration: none;
  padding-inline: 0 44px;
  position: relative;
  transition: all 0.3s ease;
  font-family: "Libre-Bodoni-Italic", serif;
  font-size: 1.375rem;
  line-height: 1.6875rem;
  letter-spacing: 0;
  color: #023452;
}

@media (hover: hover) {
  a:not(.btn):not(.custom-link):hover {
    padding-inline: 44px 0;
  }

  a:not(.btn):not(.custom-link):hover::after {
    right: calc(100% - 33px);
  }

  a:not(.btn):not(.custom-link):hover::before {
    right: calc(100% - 32px);
  }
}
